// colors
$navy: #001b44;
$dark-blue: #00449e;
$blue: #278EDB; // #357edd;
$light-blue: #96ccff;
$lightest-blue: #cdecff;
$washed-blue: #f6fffe;

$teal: #36D5CF;
$red: #F35151;

$primary: $blue;

// break points
$min-bp-small: 760px;
