<section>
  <div>
    <svg class="slide-icon" width="97px" height="auto" viewBox="0 0 97 93" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
      <desc>Created with Sketch.</desc>
      <defs></defs>
      <path d="M0,83.879 L13.754,79.352 L13.754,12.936 L0,8.408 L0,83.879 L0,83.879 Z M18.297,87.995 L32.621,83.28 L32.621,9.006 L18.297,4.291 L18.297,87.995 L18.297,87.995 Z M37.447,0 L37.447,92.286 L96.4,77.362 L96.4,14.925 L37.447,0 L37.447,0 Z" id="Shape" stroke="none" fill="#ffffff" fill-rule="evenodd"></path>
    </svg>
    <h1 class="text-heading-huge">Thanks!</h1>
    <p class="size-small color-teal" style="margin-top: -10px;">See you at the next <a href="http://charmcityjs.com">charm city js</a>!</p>
  </div>
</section>
